body {
    background-color: #276221;
    color: #abd482;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;

    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


main {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    visibility: hidden;
}

.buttons a {
    width: 160px;
    height: 46px;
}

.buttons.visible {
    visibility: visible;
}

.buttons img {
    display: block;
    width: 160px;
    height: 46px;
}

a {
    color: #abd482;
    text-decoration: underline;
}

.cursor {
    display: inline-block;
    animation: blink 2s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}