body {
    background-color: #276221;
    color: #abd482;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #abd482;
    text-decoration: underline;
}

.cursor {
    display: inline-block;
    animation: blink 1s steps(2, start) infinite; 
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}