body {
    background-color: black;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.window {
    display: block;
    width: 100vw;
    height: 100vh;
}

#folder {
    position: absolute;
    top: 16%;
    left: 5%;
    z-index: 1;
}

.folder-icon {
    display: block;
    width: 45px;
    height: 45px;
    object-fit: contain;
}